<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    {{ partial "head.html" . }}
    <body class="flex flex-col min-h-screen">
<!--        {{- partial "dev-size-indicator.html" . -}}-->
        {{- if not .Params.NoHeader }}
            {{- partial "header.html" . -}}
        {{ end -}}
        <main class="flex-1 mx-4 md:mx-12 lg:mx-24 mt-4 sm:mt-16">
        {{- block "main" . }}{{- end }}
        </main>
<!--        {{- partial "dev-parameters.html" . -}}-->
        {{- if not .Params.NoFooter }}
            {{- partial "footer.html" . -}}
        {{ end -}}
    </body>
</html>
