{{ define "main" }}
    {{ $prefix := "" }}
    {{ $type := .Type }}
    {{- with (eq $type "categories") }}
        {{ $prefix = "Category:&nbsp;" }}
    {{ end -}}
    {{- with (eq $type "tags") }}
        {{ $prefix = "Tag:&nbsp;" }}
    {{ end -}}
    <main role="main" class="mb-4 lg:mb-8 w-full">
        {{- with .Title }}
            <header class="mb-4">
                <h1 class="text-yellow-700 text-3xl font-bold">{{$prefix | safeHTML}}{{ . }}</h1>
            </header>
        {{- end }}
        {{- with .Content }}
            <div class="prose prose-yellow mb-4">
                {{ . }}
            </div>
        {{- end }}
        {{- range .Paginator.Pages }}
            {{ $contentType := .Type }}
            {{- if (eq $contentType "post") }}
                {{ partial "card/post.html" . }}
            {{ end -}}
            {{- if (eq $contentType "project") }}
                {{ partial "card/project.html" . }}
            {{ end -}}
            {{- if (eq $contentType "talk") }}
                {{ partial "card/talk.html" . }}
            {{ end -}}
        {{- end }}
    </main>
    {{ partial "paginator.html" (dict "paginator" .Paginator) }}
{{ end }}
