{{- $recent := (where .Site.RegularPages "Type" "post").ByDate.Reverse }}
{{- $recent_num := (.Site.Params.side.recent_count | default 10) }}
{{- $recent_date_format := (.Site.Params.side.recent_date_format | default "Jan 2006") }}
<div class="container mb-4 px-4 py-2 bg-orange-50 rounded shadow-md">
    {{- partial "side/side_header.html" (
    dict
    "class" "text-yellow-700 border-yellow-700 border-b-2 text-xl uppercase font-bold"
    "icon" "svg/calendar.svg"
    "title" "Recent posts"
    ) -}}
    <ul class="text-stone-700 text-base divide-y divide-dashed divide-yellow-700/50">
        {{- range first $recent_num $recent }}
            <li class="hover:text-sky-600 py-2">
                <a class="flex flex-col items-start" href="{{ .RelPermalink }}">
                    <span>{{ .Title }}</span>
                    <span class="self-end">
                        {{.Date.Format $recent_date_format}}
                    </span>

                </a>
            </li>
        {{- end }}
    </ul>
</div>
