{{ define "main" }}
<section>
    <div class="hero flex flex-col">
        <div class="flex-1 container mx-auto flex flex-col px-5 py-10 justify-center items-center text-stone-400">
            {{- partial "svg/atom-2.svg" (dict "class" "w-32 h-16 sm:h-32 mb-4 sm:mb-8") -}}

            <div class="w-full md:w-2/3 flex flex-col items-center text-center text-stone-600">
                <h1 class="font-sans text-3xl sm:text-5xl mb-4">{{ .Title }}</h1>
                <h2 class="font-sans text-3xl sm:text-5xl mb-8">{{ .Params.Subtitle }}</h2>
                {{ partial "social-links.html" (slice "text-sky-600" "hover:text-stone-700" .) }}
                <p class="font-mono text-stone-500 sm:text-3xl mt-2 sm:mt-8">Trust me I am an engineer.</p>
            </div>
        </div>
        <div class="container mx-auto flex flex-col py-4 justify-center items-center text-stone-300 transition-opacity ease-in-out">
            {{- partial "svg/mouse.svg" -}}
            {{- partial "svg/chevrons-down.svg" -}}
        </div>
    </div>

    {{- partial "home/quick-links.html" . -}}
    {{- partial "home/card-section.html" (slice "posts" "All posts" "/post" "home/card-post.html" . (.Site.Param "home.recent_post_num") "flex-wrap") -}}
    {{- partial "home/card-section.html" (slice "projects" "All projects" "/project" "home/card-project.html" . (.Site.Param "home.recent_project_num")) -}}
    {{- partial "home/card-section.html" (slice "talks" "All talks" "/talk" "home/card-talk.html" . (.Site.Param "home.recent_talk_num")) -}}

</section>

{{ end }}
