<section class="w-full sm:w-1/2 m-2 sm:m-4 p-2 sm:p-4 shadow rounded flex flex-col justify-between items-stretch">
    <a href="{{ .Permalink }}">
        <h3 class="text-lg text-center text-yellow-700 font-bold mb-2 sm:mb-4 hover:underline">{{ .Title }}</h3>
    </a>
    {{- partial "youtube.html" . -}}
    <p class="hidden sm:inline font-serif mt-2 sm:mt-4">
    {{ .Description | markdownify }}
    </p>
    <p class="text-sm self-end mt-2 sm:mt-4">
        <a href="{{ .Permalink }}" class="hover:text-sky-600">More details</a>
    </p>
</section>
