<div id="to-page-top"></div>
<section class="py-16">
  {{ $post := .Site.GetPage "/post" }}
  {{ $postCount := len ($post.Pages) }}
  {{ $project := .Site.GetPage "/projects" }}
  {{ $projectsCount := len ($project.Pages) }}
  {{ $talk := .Site.GetPage "/talks" }}
  {{ $talkCount := len ($talk.Pages) }}
  {{ $sum := add $postCount $projectsCount }}
  {{ $sum := add $sum $talkCount }}
  {{ $hasQuickLinks := gt $sum 0 }}

  {{- if $hasQuickLinks }}
  <hr class="mb-4 sm:mb-8">

  <div class="flex flex-row justify-center items-center text-stone-500">
    {{- if gt $postCount 0 }}
    <a class="sm:text-2xl hover:text-sky-600 m-4 sm:m-8" href="#posts">{{ $post.Title }}</a>
    {{ end -}}

    {{- if gt $projectsCount 0 }}
    <a class="sm:text-2xl hover:text-sky-600 m-4 sm:m-8" href="#projects">{{ $project.Title }}</a>
    {{ end -}}

    {{- if gt $talkCount 0 }}
    <a class="sm:text-2xl hover:text-sky-600 m-4 sm:m-8" href="#talks">{{ $talk.Title }}</a>
    {{ end -}}

  </div>

  <hr class="mt-4 sm:mt-8">
  {{ end -}}
</section>
